PORT=3001
DATABASE_URL=postgresql://postgres:password@localhost:5432/auth_db?schema=public

NODE_ENV=dev
JWT_PRIVATE_KEY=<Your key>
JWT_PUBLIC_KEY=<Your key>

POSTGRES_USER=<YOUR_POSTGRES_USER>
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD>
POSTGRES_DB=<DB_NAME>

DATABASE_URL=postgresql://<YOUR_POSTGRES_USER>:<YOUR_POSTGRES_PASSWORD>@postgres:5432/auth_db?schema=public
REDIS_URL=redis://redis:6379
