PORT=3001
DATABASE_URL=postgresql://<YOUR_POSTGRES_USER>:<YOUR_POSTGRES_PASSWORD>@postgres:5432/auth_db?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379

NODE_ENV=dev
JWT_PRIVATE_KEY=<Your key>
JWT_PUBLIC_KEY=<Your key>

JWT_ACCESS_TOKEN_EXPIRED_IN=300
JWT_REFRESH_TOKEN_EXPIRED_IN=604800
COOKIE_ACCESS_TOKEN_EXPIRED_IN=300000
COOKIE_REFRESH_TOKEN_EXPIRED_IN=604800000
